html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Main */
.main {
  height: 700px;
  text-align: center;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  line-height: 80px;
}

.main h1 {
	color: white;
  font-size: 150px;
  margin: 200px 0 0 0;
  position: relative;
  vertical-align: middle;

}

.main p {
  font-size: 18px;
	color: white;
  margin: 0;
  position: relative;
  vertical-align: middle;

}

.main a {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.main a:hover {
  background-color: #ffa800;
  color: black;
  transition: background 0.5s;
}


/* Supporting */
.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background-color: #1c1c1c;
}

.supporting .col {
  float: left;
  width: 100%;
  padding: 10px;
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
}

.supporting a:hover {
  background-color: #ffa800;
  color: black;
  transition: background 0.5s;
}

/* Feature */
.feature {
  height: 650px;
  position: relative;
	background: url("../img/feature.jpg") no-repeat center center;
	background-size: cover;
  
}

.feature h1 {
	margin: 0;
  position: relative;
  line-height: 550px;
  vertical-align: middle;
}

.coltwo {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.coltwo p {
  margin-bottom: 37px;
}


.feature h1,
.feature h2 {
  color: #fff;
  font-size: 50px;
  margin: 0;
  padding:50px 0 0;
}

/* Footer */
.footer {
  height: 700px;
  text-align: center;
  background: url("../img/footer.jpg") no-repeat center center;
  background-size: cover;
  line-height: 80px;

}

.footer h2 {
  color: white;
  margin: 300px 0 0 0;
  position: relative;
  vertical-align: middle;
  font-size: 50px;

}

.footer a {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
}

.footer a:hover {
  background-color: #ffa800;
  color: black;
  transition: background 0.5s;
}


@media (min-width: 1400px) {
  .main {
    height: 800px;
  }
}


@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
}
